sudo: required  
services:
    - docker
before_install:
  - docker build -t myimage -f Dockerfile.dev .

# Bypassing script for now as 'test -- --coverage' doesn't find test suite to run
script:
 - docker run myimage echo "Hello World"

deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app:  "docker-react"
    env:  "DockerReact-env"
    bucket_name:  "elasticbeanstalk-us-east-2-206661043318"
    bucket_path:  "docker-react"
    on:
      branch: master 
      #Run deploy only when there is a commit in master branch
      access_key_id: $AWS_ACCESS_KEY
      secret_access_key:
        secure: "$AWS_SECRET_KEY"
            #Notice " " in above config

# How to wrirte deploy config:
#   app name /env
#     AWS Console > Search for "Elasticbeankstalk" -> click on your app
#     All Applications ---> docker-react ---> DockerReact-env 
#     Here docker-react is your app-name
#     DockerReact-env is your env

#   region:
#       Continuing from above step look out for a URL
#       DockerReact-env.kvgyy3tx9f.us-east-2.elasticbeanstalk.com 
#       Here "us-east-2" is region.

#   For bucket_name:
#       AWS Console -> serivces -> Search for S3
#       and on S3 you will notice as follows:
#       Amazon S3 > elasticbeanstalk-us-east-2-206661043318

#   For bucket_path: 
#       Same as app name